html,
body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  line-height: 1.5;
}

body {
  width: 100%;
  height: 100vh;
  background: url('assets/22222.jpg') no-repeat center;
  background-size: cover;
  color: #333;
  display: flex;
  text-align: center;
  justify-content: center;
}

.wrapper {
  padding-top: 4rem;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.quote {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 60px;
  color:bisque;
  font-weight: bolder; 
}

.author {
  font-family: 'Crimson Text', serif;
  font-size: 40px;
  font-style: italic;
  color:coral;
}

img {
  width: 28px;
  height: 23px;
  margin-right: 5px;
  border-radius: 40%;
  filter: grayscale(80%);
  transition: all 1s ease-in-out;
  display: flex;
  text-align: center;
  justify-content: center;
}

img:hover {
  filter: grayscale(10%);
  transform: scale(1.1);
}